<div class="side-bar">
    <ul>
        <li>&#x2600; <span>THIS</span></li>
        <li>&#x2601; <span>IS NOT</span></li>
        <li>&#x2602; <span>A REAL</span></li>
        <li>&#x2603; <span>MENU</span></li>
    </ul>
    <ul>
        <li>&#x260F; <span>FOO</span></li>
        <li>&#x2622; <span>BAR</span></li>
        <li>&#x2623; <span>BAZ</span></li>
    </ul>
    <h2>SUBSCRIPTIONS</h2>
    <div class="channel-wrap" *ngFor="let channel of channels">
        <img [src]="channel.img" [alt]="channel.name">
        <a (click)="sendChannelRoute(channel.link)" [routerLink]="'/' + channel.link"></a>
        <p>{{ channel.name }}</p>
    </div>
</div>
