.side-bar {
    background-color: var(--bg-color);
    width: 250px;
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 0;
}

img {
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.channel-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

h2, .channel-wrap, li {
    margin: 1.2rem 32px;
}

ul {
    border-bottom: 1px solid var(--border-color);
    width: calc(100% - 16px);
}

a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

span {
    margin-left: 8px;
}


@media (max-width: 960px) { 
    .side-bar {
        width: 64px;        
    }
    .channel-wrap {
        margin-left: 16px;
    }
    p, h2, span {
        display: none;
    }
    li {
        transform: translateX(-8px);
    }
 }
