<div>
    <div class="logo-wrap">
        <img src="assets\img\logo.png" alt="logo">
    </div>
    <div class="nav-wrap">
        <nav>
            <input
            (input)="sendSearchQuery(input)"
            [(ngModel)]="input"
            type="text" placeholder="Search">
            <button>🔎</button>
        </nav>
        <nav>
            <button (click)="sendType(type)"
                *ngFor="let type of types" class="pill-button">{{ type }}
            </button>
        </nav>
    </div>
</div>
