<div>
    <div class="logo-wrap">
        <img src="assets\img\logo.png" alt="logo">
        <a class="home-link" (click)="home()" [routerLink]="'/'"></a>
    </div>
    <div class="nav-wrap">
        <nav>
            <input
            (input)="sendSearchQuery(input)"
            [(ngModel)]="input"
            [routerLink]="'/'"
            type="text" placeholder="Search">
            <button class="submit-button"><span>&#x26B2;</span></button>
        </nav>
        <nav>
            <button (click)="sendType(type)"
                *ngFor="let type of types" class="pill-button">{{ type }}
            </button>
        </nav>
    </div>
</div>
