div {
    width: 100%;
    height: 120px;
    background-color: var(--bg-color);
    display: flex;
}

.logo-wrap {
    position: relative;
    width: 250px;
}

.home-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.home-link:hover {
    cursor: pointer;
}

.nav-wrap {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
}

input {
    background-color: var(--dark-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 0.4rem;
    width: 33%;
    height: 25px;
    z-index: 9;
}

button {
    border: 0;
    background-color: var(--light-bg-color);
    padding: 0.2rem 1rem;
}

.submit-button {
    font-size: x-large;
}

.submit-button span {
    display: block;
    transform: rotate(-45deg);
}

.pill-button {
    padding: 0.6rem 1rem;
    border-radius: 500px;
    margin: 8px;
    font-weight: bold;
}

.logo-wrap {
    height: 60px;
}

img {
    align-self: center;
    margin-left: calc(50% - 12px);
    width: 50%;
    z-index: 9;
}

@media (max-width: 960px) {
    .logo-wrap {
        width: 64px;
    }
    img {
        width: 200%
    }
    .nav-wrap {
        width: 100%;
    }
 }
 