<div>
    <img [src]="thumbnail" [alt]="title">

    <a class="over-link" [href]="src"></a>

    <img class="channel-img" [src]="channel.img" [alt]="channel.name">
    
    <div class="info-wrap">
        <h3 [title]="title">
            {{ title }} <br>            
            <a [href]="channel.link" class="channel-link">{{ channel.name }}</a>
        </h3>
        <div class="views-wrap">
            <span>{{ nbOfViews }}&nbsp;Views
                <span *ngIf="!isLive"> . There is {{ thereIs }}</span>
            </span>            
            <span *ngIf="isLive" class="live-alert">&#x2604;&nbsp;&nbsp;Live</span>
        </div>        
    </div>
</div>
